body {
    background: #ffffff;
    border-color: #dddddd;
    
    
}

section { 
    border-bottom: 2px solid #cccccc;   
}

.header {
    background: #4aaaa5;
    border-color: #cccccc;
    color: white;
    padding-right:25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 15%;
    margin-left: 275px;
    
}


.background {
    background-image: url("../images/light-grey-terrazzo.png");
    width: 100%;
    overflow: auto;
}

.wrapper {
    background: white;
    width: 960px;
    margin: auto;


}

img {
    height: 150px;
    width: 200px;
    float: left;
    margin: 10px;
}

.portfolio {
    background: #4aaaa5;
    color: white;
    width: 20%;
    padding: 12px;
    text-align: center;
}

footer {
    background: #666666;
    color: white;
    text-align: center;
    padding-top: 20px;
    border-top: 8px solid #4aaaa5;
}


