body {
    background: #ffffff;
    border-color: #dddddd;
    /*background-image: url("../images/dot-grid.png");*/
}

section {
    width: 960px;
}

.header {
    background: #4aaaa5;
    border-color: #cccccc;
    color: white;
    padding-right:25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 15%;
    margin-left: 275px;
    
}

.background {
    background-image: url("../images/dot-grid.png");
    width: 100%
}

.wrapper {
    background: white;
    width: 960px;
    margin: 0 auto;
}

img {
    height: 150px;
    width: 200px;
}

footer {
    background: #666666;
    color: white;
    text-align: center;
    padding-top: 20px;
    border-top: 8px solid #4aaaa5;
}


